@{
    ViewBag.Title = "The Joel Hilton Film Collection";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "Edit a Movie";
}
@model Movie

<h5>Editing Movie: @ViewBag.Film[0].title</h5>

<h1>@ViewBag.SubTitle Below</h1>

<p>Use the form below to edit a movie in my collection</p>

<input type="hidden" asp-for="movieID" />

<div>
    <form asp-controller="Home" asp-action="EditFilm" method="post">
        <div>
            <label asp-for="category">
                Category
            </label>
            <label>
                Current Film Category: @ViewBag.Film[0].category
            </label>
            <input asp-for="category" />
        </div>

        <div>
            <label asp-for="title">
                Title
            </label>
            <label>
                Current Film Title: @ViewBag.Film[0].title
            </label>
            <input asp-for="title" />
        </div>

        <div>
            <label asp-for="year">
                Year
            </label>
            <label>
                Current Film Year: @ViewBag.Film[0].year
            </label>
            <input asp-for="year" />
        </div>

        <div>
            <label asp-for="director">
                Director
            </label>
            <label>
                Current Film Director: @ViewBag.Film[0].director
            </label>
            <input asp-for="director" />
        </div>

        <div>
            <label asp-for="rating">
                Rating
            </label>
            <label>
                Current Film Rating: @ViewBag.Film[0].rating
            </label>
            <select asp-for="rating">
                <option value="">Select One</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>

        <div>
            <label asp-for="edited">
                Edited?
            </label>
            <label>
                Current Film Edited?: @(@ViewBag.Film[0].edited == null ? "No" : @ViewBag.Film[0].edited)
            </label>
                <select asp-for="edited">
                    <option value="">Select One</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

        <div>
            <label asp-for="lent">
                Lent To:
            </label>
            <label>
                Current Film Lent?: @(@ViewBag.Film[0].lent == null ? "No" : @ViewBag.Film[0].lent)
            </label>
            <input asp-for="lent" />
        </div>

        <div>
            <label asp-for="notes">
                Notes
            </label>
            <label>
                Current Film Notes: @(@ViewBag.Film[0].notes == null ? "No" : @ViewBag.Film[0].notes)
            </label>
            <input asp-for="notes" />
        </div>

        <button type="submit">Submit</button>
        <div asp-validation-summary="All" class="text-danger">

        </div>
    </form>
</div>
